@keyframes hue-animation {
    0%, 100% {
        filter: hue-rotate(0deg);
    }
    50% {
        filter: hue-rotate(360deg);
    }
}

body {
    background-color: #030637;
    max-width: 100vw;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    background-color: #030637;
    color: white;
    justify-content: space-between;
    align-items: center;
    
    padding: 30px 30px;
}

p, li, a, button {
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    color: white;
    text-decoration: none;
}

header p {
    cursor: pointer;
    font-size: 25px;
    font-weight: bold;
}

.nav {
    list-style: none;
}
.nav li {
    display: inline-block;
    padding: 0px 30px;
}
.nav li a {
    transition: all 0.3s ease 0s;
}
.nav li .active, .nav li a:hover {
    color: red;
    background-color: white;
    border-radius: 50px;
    padding: 5px 12px;

}

button {
    padding: 9px 25px;
    background-color: rgb(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: white;
    color: red;
}


main {
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
    margin:  50px 80px;
    font-family: "Madimi";
}

main .home {
    padding-bottom: 50px;
    margin-bottom: 20px;
    border-bottom: #15F5BA solid 2px;
}

main .home h2 {
    margin: 0;
}

main .introduce {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    padding: 20px;
}
main .personal-image {
    display: flex;
    justify-content: center;
    align-items: center;
}
.personal-image img {
    width: 300px;
    position: absolute;
}
.circle {
    position: relative;
    width: 300px;
    height: 300px;
    background-color: black;
    border-radius: 50%;
}
.circle::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: linear-gradient(to right, #836FFF, #15F5BA 20%, #F0F3FF);
    border-radius: inherit;
    z-index: -1;
    margin: -5px;
    animation: hue-animation 3s ease-in-out infinite alternate;
}

.circle::after {
    content: "";
    position: absolute;
    top: -5px;
    right: -5px;
    left: -5px;
    bottom: -5px;
    background: white;
    border-radius: inherit;
    box-sizing: border-box;
    z-index: -2;
    margin: -5px;
    filter: blur(16px);
}

main .aboutme {
    display: flex;
    flex-wrap: wrap;

    margin-bottom: 200px;
}
main .aboutme .description {
    flex-basis: 50%;
}
main .aboutme .descrip-image {
    flex-basis: 50%;
}
main .aboutme img {
    width: 500px;
}
main .aboutme img:nth-child(odd) {
    position: absolute;
}
main .aboutme img:nth-child(even) {
    position: relative;
    top: 150px;
    left: 100px;
}
.aboutme h2 {
    text-align: center;
    flex-basis: 100%;
    color: white;
}





